# .gitignore for rust-litecoin repository workspace.

# Lock files
Cargo.lock
internals/Cargo.lock
litecoin/Cargo.lock
hashes/Cargo.lock

# Build artifacts
target
internals/target
litecoin/target
hashes/target

# Test artifacts
litecoin/dep_test

# Fuzz artifacts
hfuzz_target
hfuzz_workspace
